/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  /* Arrowpanel */
  --arrowpanel-background: Field;
  --arrowpanel-border-color: ThreeDShadow;
  --arrowpanel-border-radius: var(--border-radius-medium);
  --arrowpanel-color: FieldText;
  --arrowpanel-padding: 16px;
  --arrowpanel-shadow-margin: round(down, var(--space-xsmall, 4px), 1px);
  --arrowpanel-dimmed: color-mix(in srgb, currentColor 17%, transparent);
  --arrowpanel-dimmed-further: color-mix(in srgb, currentColor 30%, transparent);

  /* Arrowpanel Header */
  --arrowpanel-header-info-icon-padding: round(down, var(--space-xsmall, 4px), 1px);
  --arrowpanel-header-info-icon-full-width: calc(var(--icon-size-small) + (2 * var(--arrowpanel-header-info-icon-padding)));

  /* Arrowpanel Menuitem */
  --arrowpanel-menuitem-border-radius: var(--border-radius-small);
  --arrowpanel-menuitem-margin-block: 0px;
  --arrowpanel-menuitem-margin-inline: round(down, var(--space-small, 8px), 1px);
  --arrowpanel-menuitem-margin: var(--arrowpanel-menuitem-margin-block) var(--arrowpanel-menuitem-margin-inline);
  --arrowpanel-menuitem-padding-block: round(down, var(--space-small, 8px), 1px);
  --arrowpanel-menuitem-padding-inline: round(down, var(--space-small, 8px), 1px);
  --arrowpanel-menuitem-padding: var(--arrowpanel-menuitem-padding-block) var(--arrowpanel-menuitem-padding-inline);

  /* Compact mode */
  &[uidensity="compact"] {
    --arrowpanel-menuitem-margin-inline: round(down, var(--space-xsmall, 4px), 1px);
    --arrowpanel-menuitem-padding-block: round(down, var(--space-xsmall, 4px), 1px);
  }
}
