/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#browser-container {
  display: grid;
  grid-template: 1fr / 1fr;
  flex: 1;
  place-items: center;
}

#browser-container.chat-active {
  grid-template: 1fr auto / 1fr;
  place-items: stretch;
}

#aichat-browser {
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
  align-self: stretch;
  justify-self: stretch;
}

#ai-window-smartbar {
  grid-area: 1 / 1;
  width: 100%;
  max-width: calc(var(--space-xxsmall) * 273);
  z-index: 1;
}

#browser-container.chat-active #ai-window-smartbar {
  grid-area: 2 / 1;
}

.sidebar-header {
  padding: var(--space-small);
  display: flex;
  justify-content: flex-end;
}

moz-button.new-chat-icon-button {
  --button-border-radius: var(--border-radius-large);
}
